body{
    margin:0;
    background-color: #f5f4f8;
}
/* navbar */
a{
    color:black !important;
    font-weight: 600;
}

.bell-icon{
    width: 60;
    height: 32;
    border-radius: 50%;
    background-color: rgba(94, 91, 91, 0.712);
}

/* banner section */



#banner{
    background-color: #7153fa;
}

#banner-title{
    margin-bottom:10px;
}

#banner-title h1{
    padding-top:15%;
    color:white;   
}

#banner-title p{
    color:#aa98fb
}


/* 3 icons section */

#icons-section{
    margin-top:0px;
    background-color: white;
    height: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.icon{
    background-color:#f9eedb;
    width:53px;
    height:53px;
    border-radius: 50%;
    align-self: center;
    color:#c99a55;
    font-size: 17px;
    font-weight: bold;
}

/* cards carrousel */

