body{
    margin:0;
}
/* navbar */
a{
    color:black !important;
    font-weight: 600;
}

.bell-icon{
    width: 60;
    height: 32;
    border-radius: 50%;
    background-color: rgba(94, 91, 91, 0.712);
}

/* banner section */



#banner{
    background-color: #7153fa;
}

#banner-title{
    margin-bottom:10px;
}

#banner-title h1{
    padding-top:15%;
    color:white;   
}

#banner-title p{
    color:#aa98fb
}
